<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

    <!-- Chapter 3 Servlet  -->
    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>com.example.web.BeerSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>

    <!-- Start: Chapter 5 Servlet (Params in Servlet Init) -->
    <servlet>
        <servlet-name>Beer Test Servlet Params</servlet-name>
        <servlet-class>com.example.web.TestInitParamsServletInit</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>likewecare@wickedlysmart.com</param-value>
        </init-param>
        <init-param>
            <param-name>mainEmail</param-name>
            <param-value>blooper@wickedlysmart.com</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Beer Test Servlet Params</servlet-name>
        <url-pattern>/TestParamsServletInit.do</url-pattern>
    </servlet-mapping>
    <!-- End: Chapter 5 Servlet (Params in Servlet Init) -->

    <!-- Start: Chapter 5 Servlet (Using Context-Params) -->
    <servlet>
        <servlet-name>Beer Test Context Params</servlet-name>
        <servlet-class>com.example.web.TestInitParamsContextParam</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Beer Test Context Params</servlet-name>
        <url-pattern>/TestParamsContextParam.do</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>context.params.likewecare@wickedlysmart.com</param-value>
    </context-param>
    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>context.params.blooper@wickedlysmart.com</param-value>
    </context-param>
    <!-- End: Chapter 5 Servlet (Using Context-Params) -->
 
</web-app>