<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

    <servlet>
        <servlet-name>Add Cookie</servlet-name>
        <servlet-class>com.example.web.CookieTest</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Add Cookie</servlet-name>
        <url-pattern>/SubmitForm.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Check Cookie</servlet-name>
        <servlet-class>com.example.web.CheckCookie</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Check Cookie</servlet-name>
        <url-pattern>/CheckCookie.do</url-pattern>
    </servlet-mapping>

</web-app>